.podcast{
  background-color: white;
  width: 80%;
  height: 100vh;
}
.podcast__title{
  padding-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
.podcast__image{
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.podcast__player{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.podcast__player audio{
  width: 100%;
}
.podcast__shareArea{
  display: flex;
  justify-content: center;
  align-items: center;
}
.podcast__shareIcon{
  height: 22px;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
