<div class = "video" >
  <div class = "video__tag">
    {{tag}}
  </div>
  <div class = "video__title">
    {{video.title}}
  </div>
  <iframe *ngIf="video.link"
    id="ytplayer"
    type="text/html"
    class = "video__iframe"
    [src]="video.link | safe"
    frameborder="0"
    allowfullscreen="allowfullscreen"
    mozallowfullscreen="mozallowfullscreen"
    msallowfullscreen="msallowfullscreen" o
    allowfullscreen="oallowfullscreen"
    webkitallowfullscreen="webkitallowfullscreen">
  </iframe>
  <div class = "video__shareArea">
    <div class = "video__shareIcon">
      <a [href]="'https://www.facebook.com/sharer/sharer.php?u='+url" target="_blank">
        <img class = "video__shareIcon" src = "../../assets/images/facebook.png" />
      </a>
    </div>
    <div class = "video__shareIcon">
      <a [href]="'https://twitter.com/home?status=' + url" target="_blank">
        <img class = "video__shareIcon" src = "../../assets/images/twitter.png" />
      </a>
    </div>
  </div>
  <div>
    <ng2-adsense [adClient]="'ca-pub-6401100792447378'" [adSlot]="1576105446">
    </ng2-adsense>
  </div>
  <meta property="og:url"                content="{{url}}" />

  <meta property="og:title"              content="{{vidoe.title}}" />
  <meta property="og:description"        content="How much does culture influence creative thinking?" />
  <meta property="og:image"              content="http://vignette2.wikia.nocookie.net/newpotco/images/1/1e/Jolly-roger.png" />

</div>
