<div *ngIf = "show" class = "menuWrapper">

  <div class = "menu" (click) = "fake()">
    <div class = "menu__top">
      <img class = "menu__logo" src = "../../assets/images/top_image.png" />
    </div>
    <div class = "menu__row">
      <img class = "menu__icon" src = "../../assets/images/share_icon.png" />
      SHARE WITH FRIENDS
    </div>
    <div class = "menu__row">
      <img class = "menu__icon" src = "../../assets/images/feedback_icon.png" />
      GIVE US FEEDBACK
    </div>
    <div class = "menu__row">
      <img class = "menu__icon" src = "../../assets/images/rate_icon.png" />
      RATE THIS APP
    </div>
    <div class = "menu__row">
      <img class = "menu__icon" src = "../../assets/images/settings_icon.png" />
      SETTINGS
    </div>
    <div class = "menu__row">
      <img class = "menu__icon" src = "../../assets/images/terms_and_policies_icon.png" />
      TERMS AND POLICIES
    </div>
  </div>
  <div class = "overlay" (click) = "hide()">
    stuff
  </div>

</div>
