<div *ngIf="podcasts.length==0" class = "emptyStateText">
  {{emptyStateMessages[emptyStateMessageIndex]}}
</div>
<div *ngFor = "let podcast of podcasts " >
  <div class = "card">
    <a [routerLink]="'/podcast/'+podcast.id" routerLinkActive="active" >
      <div class = "podcast__title">{{podcast.title}}</div>
      <div class = "card__image">
        <img class = "podcast__image" [src] = "podcast.image" />
      </div>
      <div class = "podcast__description">
        {{podcast.description}}...
      </div>
      <div>
        <div class = "duration">
          <div>
            {{podcast.source}}
          </div>
          <img  class = "duration__icon" src = "../../assets/images/time.png" />
          <div class = "duration__time">
              {{podcast.duration}}m
          </div>
        </div>
      </div>
    </a>
  </div>
  <ng2-adsense *ngIf = "podcasts.indexOf(podcast)%5===0" [adClient]="'ca-pub-6401100792447378'" [adSlot]="1576105446"></ng2-adsense>
</div>
<div *ngIf = "loading && podcasts.length!==0" class="spinningCircle"></div>
