
.top{
  background: -webkit-linear-gradient(#152F4F, #090824); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#152F4F, #090824); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#152F4F, #090824); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#152F4F, #090824); /* Standard syntax */
  height: 414px;
  color:white;
}
.paddingWrapper{
  padding: 24px;
}
.topIcons{
  display: flex;
}
.hamburgerIcon{
  font-size: 32px;
}
.refreshIcon{
  margin-left: auto;
  font-size: 24px;
  background-color: #090824;
  color:#9FA0BC;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.refreshIcon--backwards{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.sliderthing{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: #0c0425;
  border-radius: 136px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
.tabs{
  margin-top: 24px;
  display:flex;
  flex: 1 1 auto;
  /*justify-content: space-around;*/
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.tab{

  cursor: pointer;
  border-bottom: 4px #101E3C solid;
  text-align: center;
  flex: 1 1 auto;
  padding-bottom: 8px;
}
.tab--selected{
  color:white;
  border-bottom: 4px #148EBE solid;
}
.bars{
  display: flex;
}
.bar{
  height: 3px;
  background-color: #148EBE;
  width: 35%;
}
.bar--articles{
  margin-right: auto;
}
.bar--videos{
  margin-right: auto;
  margin-left: auto;
}
.bar--podcasts{
  margin-left: auto;
}

/*GLOBALS*/
.card{
  background: #FDFDFD;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
  margin-bottom: 2vh;
  padding: 4vh;
}
