.header{
  padding: 18px;
  display: flex;
  align-items: center;
  background-color: #3b41ff;
  color: white;
}
.header__icon{
  font-size: 24px;
  width: 32px;
  height: 32px;
  border-radius: 100px;;
  display: flex;
  background-color: #1340AF;
  justify-content: center;
  align-items: center;

  padding: 4px;
}
.header__icon--backwards{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.header__logo{
  width: 183px;
  height: 32px;
  margin-left: calc(50vw - 150px);
  background-image: url("../../assets/images/white_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
