<div *ngIf="!articles">
  Loading...
</div>
<div *ngIf="articles.length==0" class = "emptyStateText">
  Set how much available time you have above.
</div>
<div class = "article" *ngFor = "let article of articles">
  <a [href] = "article.link">
    <img class = "article__image" *ngIf="article.image!==''" [src] = "'https://cdn-images-1.medium.com/fit/t/800/240/'+article.image"  />
    <div class = "article__title">
      {{article.title}}
    </div>
    <div class = "article__subtitle">
      <div>
        {{article.source}}
      </div>
      <div class = "article__time">
        <img  class = "article__time__icon" src = "../../assets/images/time.png" />
        <span class ="article__time__text">{{article.duration}}m</span>
      </div>
    </div>
  </a>
</div>
