<!-- <div class = "wrapper">
  <div class = "tagArea--global">
    <div *ngIf = "!allSelected"class = "tag tag--global" (click) = "changeAllTags(!allSelected)">
      ALL
    </div>
    <div *ngIf = "allSelected" class = "tag tag--selected tag--global" (click) = "changeAllTags(!allSelected)">
      ALL
    </div>
  </div>
  <div class = "tagArea">
    <div [ngClass] = "tag.style" *ngFor = "let tag of tags" (click) = "toggleTag(tag)">
      {{tag.name}}
    </div>
  </div>

</div> -->
<md-grid-list cols="3" gutterSize="18px" >
   <md-grid-tile *ngFor="let tag of tags" [ngClass] = "tag.style" (click) = "toggleTag(tag)">
     <div class = "tile__content">
       <div class="tile__icon">
         <i [ngClass]="'icon-'+tag.name"></i>
       </div>
       <div>
         {{tag.name}}
       </div>
     </div>
   </md-grid-tile>
</md-grid-list>
