.rs-control .rs-range-color {
    background-color: #54BBE0;
}
.rs-control .rs-path-color {
    background-color: #32324b;
}
.rs-control .rs-handle {
    background-color: #16b6ef;
}
.rs-bg-color {
    background-color: red;
}
 .rs-inner-container{
  background-color: red;
}
.rs-tooltip .rs-tooltip-text{
  color:red;
}
