.rs-control .rs-range-color {
    background-color: #54BBE0;
}
.rs-control .rs-path-color {
    background-color: #32324b;
}
.rs-control .rs-handle {
    background-color: #16b6ef;
}
.rs-control .rs-bg-color {
    background-color: #090824;
}
.rs-border{
  border:none;
}
.rs-range-color  {
    background-color: #ff8d00;
}
