.rs-control .rs-range-color {
    background-color: white;
    /*background-image: url('assets/images/slider_gradient.png')*/
}
.rs-control .rs-path-color {
    background-color: #1340AF;
}
.rs-control .rs-handle {
    background-color: white;
}
.rs-control .rs-bg-color {
    background-color: #1440AF;
    background-image: url('assets/images/clockface.png');
    background-size: 246px 246px;
    background-repeat: no-repeat;
}
.rs-border{
  border:none;
}
.rs-range-color  {
    background-color: #1340AF;
}

body{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: roboto;
  background-color: #F8F8F8;
}


	.spinningCircle {
	   height: 40px;
	   width: 40px;
	   border-radius: 50%;
	   border: 4px solid rgba(255,255,255,0);
	   border-top-color: 4px solid #1F60FF;
	   border-right-color: 4px solid #71F60F;
	   -webkit-animation: single2 4s infinite linear;
	   animation: single2 4s infinite linear;
	}

	@-webkit-keyframes single2 {
	   0% {
	      -webkit-transform: rotate(0deg);
	      transform: rotate(0deg);
	      border-top-color: #7fc4d1;
	      border-right-color: #7fc4d1;
	   }
	   50% {
	      border-top-color: #1f4f58;
	      border-right-color: #1f4f58;
	   }
	   100% {
	      -webkit-transform: rotate(720deg);
	      transform: rotate(720deg);
	      border-top-color: #7fc4d1;
	      border-right-color: #7fc4d1;
	   }
	}

	@keyframes single2 {
	   0% {
	      -webkit-transform: rotate(0deg);
	      transform: rotate(0deg);
	      border-top-color: #7fc4d1;
	      border-right-color: #7fc4d1;
	   }
	   50% {
	      border-top-color: #1f4f58;
	      border-right-color: #1f4f58;
	   }
	   100% {
	      -webkit-transform: rotate(720deg);
	      transform: rotate(720deg);
	      border-top-color: #7fc4d1;
	      border-right-color: #7fc4d1;
	   }
	}
