.home__wrapper{
  display: flex;

}
.filters{

  background-color: #1340AF;
  color:white;

  width: 320px;
  /*height: 400px;*/
  /*height: calc(100vh - 112px);*/


  display: flex;
  flex-direction: column;
}
.filters__top{
  padding: 24px;

  background-color: #3b41ff;
  width: 272px;

  display: flex;
  flex-direction: column;
}
.filters__bottom{
  padding: 24px;
}
.filters__instructionText{
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.sliderthing{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 136px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 24px;*/
}
.filters__buttons{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}
.filters__button{
 height: 40px;
 width: 40px;
 font-size: 24px;
 font-weight: lighter;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 100px;
 background-color: #1340AF;
}
.filters__tile{
  background-color: #0A2B7C;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tile__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content{

}
.content__tabs{
  height: 46px;
  width: calc(100vw - 320px);

  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}
.content__tab{
  display: flex;
}
.content__tab *{
  padding:4px;
}
.content__feed{
  display: flex;
  justify-content: space-between;
}
.content__feed *{
  width: 33%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}

.emptyStateText{
    color: #AEB0B7;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
}
.emptyStateText__title{
  font-size: 32px;
  margin-bottom: 4px;
}



.top{
  background-color: #3b41ff;
  height: 369px;
  color:white;
}
.paddingWrapper{
  padding: 24px;
}
.topIcons{
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}
.top__logo{

  display: flex;
  align-items: center;
  justify-content: center;
}
.top__logo img{
  display: flex;
  width: 80%;
}
.hamburgerIcon{
  font-size: 24px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  background-color: #1340AF;
  justify-content: center;
  align-items: center;
}
.refreshIcon{
  margin-left: auto;
  font-size: 24px;
  background-color: #1340AF;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.refreshIcon--backwards{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.tabs{
  /*margin-top: 24px;*/
  margin-bottom: 8px;
  display:flex;
  flex: 1 1 auto;
  /*justify-content: space-around;*/
  font-size: 16px;
  color: #969CAC;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
}
.tab{
  background-color: white;
  cursor: pointer;
  border-bottom: 6px white solid;
  text-align: center;
  flex: 1 1 auto;
  padding: 8px;
}
.tab--selected{
  color: #2060FF;
  border-bottom: 6px #2060FF solid;
}
.bars{
  display: flex;
}
.bar{
  height: 3px;
  background-color: white;
  width: 35%;
}
.bar--articles{
  margin-right: auto;
}
.bar--videos{
  margin-right: auto;
  margin-left: auto;
}
.bar--podcasts{
  margin-left: auto;
}

/*GLOBALS*/
.card{
  background: #FDFDFD;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
  margin-bottom: 2vh;
  padding: 4vh;
}
