<div *ngFor = "let video of videos">
  <div class = "video">
    <a [routerLink]= "['/video/', video.id, {  image: video.image | encodeTheUrl }]" routerLinkActive="active" target="_blank">
      <div *ngIf= '!video.showPlayer'>
        <img [src]="video.image" class = "video__image"/>
      </div>
      <div *ngIf= '!video.showPlayer' class = "video__play-button">
        <img src = "../../assets/images/play_button.png" class = "video__play-button__img"/>
      </div>
      <div class = "video__title">
        {{video.title}}
      </div>
      <div class = "video__subtitle">
        <div>
          {{video.source}}
        </div>
        <div class = "video__time">
          <img  class = "video__time__icon" src = "../../assets/images/time.png" />
          <span class ="video__time__text">{{video.duration}}m</span>
        </div>
      </div>
    </a>
  </div>

</div>
<div *ngIf = "loading && videos.length!==0" class="spinningCircle"></div>
