.video {
  /* Rectangle 5: */
  background: #FDFDFD;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
  margin-bottom: 2vh;
  padding: 4vh;
  /*height: 70vw;*/
}
.video__iframe{
  display: block;
  width: 80vw;
  height: 45vw;
  margin-bottom: 18vw;
}
.video__image{
  width:100%;
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
}
.video__play-button{
  position: relative;
  top:-38vw;
}
.video__play-button__img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.video__title{
  margin-top: -13vw;
  font-size: 16px;
  font-family: roboto;
}
